

body {
  margin: 0;
  padding: 0;
  background-color: #333138; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.container {
  width: 1080px;
  background: #C41E3D;
  padding: 10px;
  max-height: 80vh;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.bar {
  position: relative;
  align-self: center;
  width: 99%;
  background-color: #E3F2FD;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  padding: 0px;
  display: flex;
}

.logotext {
  position: absolute;
  top: 5px; /* 10px från toppen */
  left: 10px; /* 10px från vänster */
  color: #C41E3D;
  font-size: 55px;
  font-weight: bold;
  line-height: 1; /* Förhindrar extra spacing som skjuter ner texten */
  margin: 0; /* Tar bort eventuell extra marginal */
  margin-right: 10px;
}

.logo {
  width: 50px; /* Justera storlek */
  height: auto; /* Bevara proportioner */
  position: absolute;
  top: 10px;
  left: 280px
}

.loginButton {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 955px;
  color: #E3F2FD;
  background-color: #C41E3D;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}

.subcontainer {
  position: relative;
  align-self: center;
  width: 99%;
  background-color: #333138;
  height: 93vh;
  border: 10px;
  padding: 0px;
  display: flex;
  border-radius: 10px;
  top: 15px 
}

input {
  all: unset;
  font: 16px system-ui;
  color: #333138;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #333138;
  opacity: 0.7; 
}

.searchBar {
  background-color: #E3F2FD;
  width: 97%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 15px;
  left: 15px
}

.searchButton {
  width: 100px;
  height: 48px;
  color: #E3F2FD;
  background-color: #C41E3D;
  font-size: 17px;
  font-weight: bold;
  right: 1px;
  position: relative;
  border-radius: 5px;
}

.sortButton {

}

.topcis {

}
