

body {
  margin: 0;
  padding: 0;
  background-color: #333138; 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.container {
  width: 1080px;
  background: #C41E3D;
  padding: 10px;
  max-height: 80vh;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.bar {
  position: relative;
  align-self: center;
  width: 99%;
  background-color: #E3F2FD;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  padding: 0px;
  display: flex;
}

.logotext {
  position: absolute;
  top: 5px; /* 10px från toppen */
  left: 10px; /* 10px från vänster */
  color: #C41E3D;
  font-size: 55px;
  font-weight: bold;
  line-height: 1; /* Förhindrar extra spacing som skjuter ner texten */
  margin: 0; /* Tar bort eventuell extra marginal */
  margin-right: 10px;
}

.logo {
  width: 50px; /* Justera storlek */
  height: auto; /* Bevara proportioner */
  position: absolute;
  top: 10px;
  left: 280px
}
